/* Сброс стандартных отступов и размеров для всех элементов */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

/* Стили для навигационной панели */
nav{
    display: flex; /* Использование flexbox для расположения элементов в строку */
    background-color: black; /* Цвет фона */
    height: 40px; /* Высота элемента */
}

/* Стили для ссылок внутри навигационной панели */
nav a{
    color: white;
    font-size: 18px;
    display: flex; /* Использование flexbox для расположения элементов в строку */
    align-items: center; /* Выравнивание содержимого(текста) по центру по вертикали */
    height: 40px; /* Высота элемента */
}

/* Стили для дочерних блоков навигационной панели */
nav>div{
    border-right: 1px solid white; /* Правая граница */
    padding: 0 10px; /* Внутренние отступы слева и справа */
    /* display: flex;
    align-items: center; */
}

header{
    position: fixed; /* Фиксированное позиционирование */
    width: 100%; /* Занимает всю доступную ширину, после фиксирования */
    top: 0; /* Прикрепление к верху страницы */
    z-index: 2; /* Позиция над другими элементами(main) */
}

/* Стили для основного содержимого страницы */
main{
    position: relative; /* Относительное позиционирование */
    top: 50px; /* Смещение содержимого вниз на 50px */
    padding: 0 20px; /* Внутренние отступы слева и справа */
}

h1, h2, h3, p{
    margin-top: 10px; /* Отступ сверху для заголовков и параграфов */
}

/* Изменение цвета фона при наведении на элемент навигационной панели */
nav>div:hover{
    background-color: white;
}

/* Изменение цвета текста ссылок при наведении на элемент навигационной панели */
nav>div:hover a{
    color: black;
}
